<a href="https://colab.research.google.com/github/JKDixit/Car-Price-Prediction-With-Machine-Learning.ipynb/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("Jatin Dixit")
print("\n")

hello world
Jatin Dixit

In [ ]:
print("hello world")
print("Jatin Dixit")
print("\n")

hello world
Jatin Dixit

In [ ]:
print("hello.", "Ram")

hello. Ram

In [ ]:
print(35)
print(90)
print(35+25)

35
90
60

Print using variables and Check types of variables

In [ ]:
name="jatin"
age=20
price=80.98
print(name)
print(age)
print("my name is:",name)
age2=age
print(age2)
print(type(name))
print(type(age))
print(type(price))

jatin
20
my name is: jatin
20
<class 'str'>
<class 'int'>
<class 'float'>

Now We Have three methods to Present String '',"",''' '''.

In [ ]:
name1='Jk'
name2="JK"
name3='''JK'''
print(name1)
print(name2)
print(name3)

Jk
JK
JK

Adding Two Numbers

In [ ]:
a=2
b=5
sum=a+b
print(sum)

7

Operators uses in Python.

In [ ]:
#Arithmatic Operators
a=5
b=2
print(a+b)#adding
print(a-b)#substraction
print(a*b)#multiplication
print(a/b)#devision
print(a%b)#remainder (modulus)
print(a**b)#exponent(power)
print(a//b)#floor devision

7
3
10
2.5
1
25
2

In [ ]:
a=9
b=2
print(a//b)
print(a/b)

4
4.5

    Reading .csv file and View Information

In [ ]:
import pandas as pd
titanic = pd . read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Titanic.csv')
titanic. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

HTML FILE

In [ ]:
import pandas as pd
Titanic = pd . read_html('https://github.com/YBI-Foundation/Dataset/raw/main/Titanic.html')
Titanic . info()

AttributeError: 'list' object has no attribute 'info'